  /* DarkGreen Homepage Style © 2018 by ZeroDot1 */

  html, body {
    font: 90% Verdana, Arial, Helvetica, sans-serif;
    border-left: 20pt solid black;
    border-right: 20pt solid black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  * {
    margin: 0;
    padding: 0;
  }

  @viewport {
    zoom: 1.0;
    width: device-width;
  }

  #bg {
    background-color: black;
    color: white;
  }

  img {
    vertical-align: middle;
    display: block;
    max-width: 100%;
    height: auto;
  }

  a {
    color: #BBDF07;
    text-decoration: none;
  }

  a:hover, a:focus {
    color: #23527c;
    text-decoration: underline:
  }

  a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }

  #seite {
    width: 100%;
    color: white;
    background-color: black;
  }

  #head {
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    font-style: italic;
    color: white;
    background-color: black;
    padding-top: 18pt;
    border-top: 2pt solid #BBDF07;
    margin-top: 10pt;
  }

  #contend {
    text-align: justify;
    color: white;
    background-color: black;
    margin-left: 250px;
    border-top: 1pt solid #BBDF07;
    border-left: 20pt solid black;
    padding-bottom: 5em;
  }

  #container {
    border-top: 1pt solid #BBDF07;
    border-bottom: 1pt solid #BBDF07;
    border-left: 1pt solid #BBDF07;
    border-right: 1pt solid #BBDF07;
    text-align: justify;
  }

  #menu {
    text-align: justify;
    color: white;
    float: left;
    width: 250px;
    background-color: black;
  }

  ul {
    margin: 15px 0;
    padding: 0;
    list-style-type: square;
  }

  li {
    margin-bottom: 5px;
  }

  #footer {
    clear: both;
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;
    width: 100%;
    font-size: 10px auto;
    height: 2em;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: white;
    background: black;
    border-top: 8pt solid black;
    border-bottom: 10pt solid black;
  }

  #contentimg1 {
    float: left;
    width: 34px;
    height: 34px;
    margin: 0.2em;
    filter: opacity(80%);
  }

  #contentimg2 {
    width: 110px;
    height: 110px;
    border-top: 1pt solid #BBDF07;
    border-bottom: 1pt solid #BBDF07;
    border-left: 1pt solid #BBDF07;
    border-right: 1pt solid #BBDF07;
    filter: grayscale(60%);
  }

  #contentimg2:hover {
    border-top: 2pt solid #BBDF07;
    border-bottom: 2pt solid #BBDF07;
    border-left: 2pt solid #BBDF07;
    border-right: 2pt solid #BBDF07;
    filter: grayscale(10%);
    filter: opacity(90%);
  }

  iframe[src*="//youtube.com/"], iframe[src*="//www.youtube.com/"] {
    display: block;
    margin: auto;
  }

  #btn {
    background: #8cd934;
    background-image: -webkit-linear-gradient(top, #8cd934, #b3b82b);
    background-image: -moz-linear-gradient(top, #8cd934, #b3b82b);
    background-image: -ms-linear-gradient(top, #8cd934, #b3b82b);
    background-image: -o-linear-gradient(top, #8cd934, #b3b82b);
    background-image: linear-gradient(to bottom, #8cd934, #b3b82b);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 0px 4px 0px 5px;
    text-decoration: none;
  }

  #btn:hover {
    background: #fcfc3c;
    background-image: -webkit-linear-gradient(top, #fcfc3c, #d9bd34);
    background-image: -moz-linear-gradient(top, #fcfc3c, #d9bd34);
    background-image: -ms-linear-gradient(top, #fcfc3c, #d9bd34);
    background-image: -o-linear-gradient(top, #fcfc3c, #d9bd34);
    background-image: linear-gradient(to bottom, #fcfc3c, #d9bd34);
    text-decoration: none;
  }

  /* Table Style */

  .tg {
    border-collapse: collapse;
    border-spacing: 1;
    border-color: #BBDF07;
    border-width: 1px;
    border-style: solid;
  }

  .tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 15px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #BBDF07;
    color: white;
    background-color: black;
  }

  .tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 15px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #BBDF07;
    color: white;
    background-color: black:
  }

  .tg .tg-yw4l {
    vertical-align: top
  }

  @media screen and (max-width: 767px) {
    .tg {
      width: auto !important;
    }
    .tg col {
      width: auto !important;
    }
    .tg-wrap {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
